/* 連結字體檔案 */
@font-face{
    /* 字體名稱(可自行命名) */
    font-family: Ngaan; 
    /* 字體檔案連結 */
    src: url(./font/I.Ngaan.ttf);
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "Microsoft JhengHei",Arial;
}
.container{
    width: 100%;
}
#logo{
    font-family: Ngaan;
    font-size: 32px;
    color: #fff;
}
nav{
    z-index: 99;
    display: grid;
    /* grid-template-columns: 設定欄寬,  */
    grid-template-columns: 30% 70%;
    height: 80px;
    padding: 0 20px;
    /* position 定位 */
    position: fixed;
    /* 搭配上下左右來設定定位的位置 */
    top: 0;
    /* 上定位之後寬度會跑掉，要另外設定 */
    width: 100%;
    max-width: 1200px;
    background-color: rgba(0,0,0,0.5);
    /* 設定行高讓內容垂直置中 */
    line-height: 80px;
}
.menu{
    text-align: right;
}
.menu>ul>li{
    display: inline-block;
    padding: 0 15px;
}
.menu>ul{
    /* display: grid; */
    /* 均分寬度: repeat(有幾格, 每隔寬度)  */
    /* grid-template-columns: repeat(3, 1fr); */
    /* align-items: 垂直對齊 */
    /* align-items: center; */
    /* line-height: 60px; */
} 

nav a{
    text-decoration: none;
    color: #fff;
    border-bottom: 1.5px solid #fff;
    transition: ease-in 0.3s;
}

nav a:hover{
    color:#fff;
    border-bottom: 1.5px solid #f00;
}

/* banner */
#banner{
    background-image: url(./img/banner.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}