/* 連結字體檔案 */
@font-face{
    /* 字體名稱(可自行命名) */
    font-family: Ngaan; 
    /* 字體檔案連結 */
    src: url(./font/I.Ngaan.ttf);
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "Microsoft JhengHei",Arial;
}

/* header區塊 */
.container{
    width: 1200px;
}
#logo{
    font-family: Ngaan;
    font-size: 32px;
    color: #fff;
}
nav{
    z-index: 99;
    display: grid;
    /* grid-template-columns: 設定欄寬*/
    grid-template-columns: 30% 70%;
    height: 80px;
    padding: 0 20px;
    /* position 定位 */
    position: fixed;
    /* 搭配上下左右來設定定位的位置 */
    top: 0;
    /* 上定位之後寬度會跑掉，要另外設定 */
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    /* 設定行高讓內容垂直置中 */
    line-height: 80px;
    justify-content: center;
}
.menu{
    text-align: right;
}
.menu>ul>li{
    display: inline-block;
    padding: 0 15px;
}
/* manu grid 寫法 */
.menu>ul{
    /* display: grid; */
    /* 均分寬度: repeat(有幾格, 每隔寬度)  */
    /* grid-template-columns: repeat(3, 1fr); */
    /* align-items: 垂直對齊 */
    /* align-items: center; */
    /* line-height: 60px; */
} 

nav a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    border-bottom: 1.5px solid #fff;
    transition: ease-in 0.3s;
}

nav a:hover{
    color:#fff;
    border-bottom: 1.5px solid #f00;
}

/* banner */
#banner{
    background-image: url(./img/banner.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    /* grid父層設定項目 */
    display: grid;
    /* align-items: 垂直對齊 */
    align-items: center;
    /* justify-content: 水平對齊 */
    justify-content: center;
}
#banner .title{
    color: #fff;
    text-shadow: 1px 5px 3px rgba(0,0,0,0.7);
}
.sub-title{
    font-size: 20px;
    font-family: Ngaan;
}
.main-title{
    font-size: 120px;
    font-family: Ngaan;
}

/* 主內容區塊 */
section{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
}
section h1{
    font-size: 28px;
    font-family: Ngaan;
}
hr{
    margin-bottom: 20px;
}
.more{
    display: inline-block;
    float: right;
    padding: 7px 10px;
    background-color: #333;
    transition: ease-in 0.2s;
    font-size: 12px;
}
.more:hover{
    background-color: #666666;
}
.more a{
    color: #fff;
    text-decoration: none;
}
/* about */
.about-img{
    background-image: url(./img/about.jpg);
    height: 500px;
    background-size: cover;
    background-position: center;
}
.about{
    display: grid;
    align-items: flex-start;
    grid-template-columns: 60% 40%;
    grid-gap: 20px;
}
.about p{
    line-height: 1.8rem;
    text-align: justify;
    text-justify:inter-ideograph;
    /* 因為父層設定grid-gap會把區塊往右推20p,要把他推回去 */
    padding-right: 20px;
}

/* news */
#news table tr td{
    padding: 10px 0 10px 30px;
}
#news .date{
    color: #666;
}

/* contact */
#contact p{
    line-height: 1.8rem;
    text-align: center;
    margin-top: 10px;
}
#contact form{
    margin-top: 20px;
    text-align: center;
}
input, select, textarea{
    padding: 5px 10px;
    margin: 5px auto;
}
input{
    width: 200px;
}
select, textarea{
    width: 400px;
}
.col-s{
    display: inline-block;
}
.btn{
    text-align: center;
    width: 80px;
    padding: 10px;
    margin: 0 auto 20px;
    background-color: #333;
    transition: ease-in 0.2s;
}
#contact a{
    text-decoration: none;
    color: #fff;
}
.btn:hover{
    background-color: #666;
}